.full-background {
  background-image: url('https://jiwshjrecqfnhgnziubk.supabase.co/storage/v1/object/public/imagenes/sitioWeb/registro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s;
  opacity: 1;
}

.welcome-box {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  margin-left: 5%; 
  max-width: 2000px;
  transition: transform 0.6s cubic-bezier(.77,0,.18,1), opacity 0.25s;
  will-change: transform;
}

.full-background.fade-out {
  opacity: 0;
}

.slide-out {
  transform: translateX(110vw); /* Sale completamente hacia la derecha */
  opacity: 0.5;
  pointer-events: none;
}

.user-card {
  border-radius: 1.2rem;
  box-shadow: 0 3px 20px #b5becf11;
  background: #fff;
  transition: box-shadow 0.2s;
}

.user-card:hover {
  box-shadow: 0 8px 32px #607ba822;
  background: #f7fafc;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}
