<div
  class="full-background d-flex align-items-center justify-content-start min-vh-100 position-relative"
  [class.fade-out]="isFadingOut"
>
  <div class="welcome-box p-4 shadow">
    <div class="container mt-4">
      <!-- Título + Botón en la misma fila -->
      <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="m-0">Administración de Usuarios</h2>
  <div>
    <button class="btn btn-success me-2" [routerLink]="['/register']" [queryParams]="{ admin: true }">
      + Crear Usuario
    </button>

    <button class="btn btn-outline-primary me-2" (click)="exportarUsuariosAExcel()">
  Descargar Excel de Usuarios
</button>

    <button class="btn btn-secondary" (click)="volverAlHome()" [disabled]="isFadingOut">
  ← Volver al Home
</button>

  </div>
</div>

  <div class="row">
    <!-- Pacientes -->
    <div class="col-md-4">
      <h4>Pacientes</h4>
      <ul class="list-group">
        <li *ngFor="let paciente of pacientes" class="list-group-item d-flex justify-content-between align-items-center">
          {{ paciente.nombre }} {{ paciente.apellido }}
          <button class="btn btn-sm btn-primary" (click)="verDetalle(paciente, 'paciente')">Ver</button>
        </li>
      </ul>
    </div>

    <!-- Especialistas -->
    <div class="col-md-4">
      <h4>Especialistas</h4>
      <ul class="list-group">
        <li *ngFor="let especialista of especialistas" class="list-group-item d-flex justify-content-between align-items-center">
          {{ especialista.nombre }} {{ especialista.apellido }}
          <button class="btn btn-sm btn-primary" (click)="verDetalle(especialista, 'especialista')">Ver</button>
        </li>
      </ul>
    </div>

    <!-- Administradores -->
    <div class="col-md-4">
      <h4>Administradores</h4>
      <ul class="list-group">
        <li *ngFor="let admin of administradores" class="list-group-item d-flex justify-content-between align-items-center">
          {{ admin.nombre }} {{ admin.apellido }}
          <button class="btn btn-sm btn-primary" (click)="verDetalle(admin, 'administrador')">Ver</button>
        </li>
      </ul>
    </div>
  </div>
</div>
  </div>
</div>